/frontend/car-workshop-client/node_modules
/frontend/car-workshop-client/dist
/frontend/car-workshop-client/out-tsc
/frontend/car-workshop-client/.angular
/frontend/car-workshop-client/.vscode
/frontend/car-workshop-client/package-lock.json
/frontend/car-workshop-client//src/environments/*
/backend/CarWorkshopAPI/appsettings.json
.vs/
bin/
obj/